.vscode/**
.scrap/**
.wsb/**
.DS_Store
.env
.env.*
.eslintignore
.eslintrc.js
.gitignore
.travis.yml
**/*.map
**/*.ts
**/*.tsbuildinfo
**/node_modules/**
**/package-lock.json
**/package.json.wstemplate
**/tsconfig.json
client/**
images/**
scripts/**
server/**
*.vsix
icon.svg
webpack.config.js
